<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bootstrap-3.3.4-dist/css/bootstrap.min.css') }}"/>
    {% endblock %}
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <img src="{{ asset('img/header-logo.svg') }}" alt="Symfony 2 logo"/>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-8">
            {%  block main %}{% endblock %}
        </div>
        <div class="col-xs-12 col-md-4">
            {%  block sidebar %}{% endblock %}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae cumque fugit incidunt nam nemo neque porro ratione sapiente! Cumque incidunt obcaecati possimus quibusdam quis reiciendis vitae! Dolorem temporibus veritatis voluptas.
        </div>
    </div>
</div>
{% block javascripts %}{% endblock %}
</body>
</html>
