{% extends "::base.html.twig" %}

{% block title %}Tous les articles{% endblock %}

{% block main %}
    <section>
    {% for  article in articles %}
        {% include '_partial/article-detail.html.twig' with {'link' : true} %}
    {% endfor %}
    {% if page > 1 %}
        <a href="{{ path("app_article_list", {'page' : page - 1}) }}">Précédent</a>
    {% endif %}
    {% if page < pageMax %}
        <a href="{{ path("app_article_list", {'page' : page + 1}) }}">Suivant</a>
    {% endif %}
    </section>
{% endblock %}

{% block sidebar %}
    {{ render(controller('AppBundle:Ad:ad', {'width':'300', 'height':'300', 'color' : 'FF0000'})) }}
{% endblock %}
