{% extends "::base.html.twig" %}

{% block title %}Tous les articles{% endblock %}

{% block main %}
    <section>
    {% for  article in articles %}
        {% include '_partial/article-detail.html.twig' with {'link' : true} %}
    {% endfor %}
    </section>
{% endblock %}

{% block sidebar %}
    {{ render(controller('AppBundle:Ad:ad', {'width':'300', 'height':'300', 'color' : 'FF0000'})) }}
{% endblock %}
