{% extends "::base.html.twig" %}

{% block title %}AppBundle:Article:list{% endblock %}

{% block body %}

    <section>
    {% for  article in articles %}

        <article>
            <h1><a href="{{ path('app_article_show', {'id': article.id}) }}">{{ article.title }}</a></h1>
            <p>Ecrit le {{ article.createdOn | date('y/m/d h:m:s') }} par ...</p>
            <p>{{ article.content }}</p>
        </article>

    {% endfor %}
    </section>

{% endblock %}
