{% extends "::base.html.twig" %}

{% block title %}Article: {{ article.title }}{% endblock %}

{% block main %}
    <section>
        {{ include('_partial/article-detail.html.twig') }}
    </section>
{% endblock %}

{% block sidebar %}
    {{ render(controller('AppBundle:Ad:ad', {'width':'300', 'height':'300', 'color' : '00FF00'})) }}
{% endblock %}
